
.custom-table {
    tr {
        border-radius: 10px;
        background-color: transparent;

        th:first-child {
            width: 20px;
        }
        td:first-child {
            width: 20px;
        }
    }

}

@media screen and (max-width: 1100px) {
    .album-card {
        width: auto!important;
    }
    .album-song-list {
        width: 100% !important;
    }
}