.song-card {
  padding: 10px;
  position: relative;

  .card-icon {
    visibility: hidden;
    border-radius: 50%;
    padding: 5px;

    &:hover {
      background-color: var(--color-text-secondary);
    }
  }

  .duration {
    position: absolute;
  }

  &:hover {
    background-color: var(--bg-content-hover);

    .duration {
      display: none;
    }

    .card-icon {
      visibility: visible;
    }
  }

  &.active {
    background-color: var(--bg-content-hover);

  }

  .card-icon.love {
    visibility: visible;
  }
}